.entrees {
  animation: aparition 1000ms 500ms both; }

.plats {
  animation: aparition 1000ms 1000ms both; }

.desserts {
  animation: aparition 1000ms 1500ms both; }

@keyframes aparition {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes check {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes check-background {
  0% {
    width: 0; }
  100% {
    width: 70px; } }
.btn {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px solid black;
  border-radius: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  padding: 20px 30px;
  margin: 20px;
  cursor: pointer; }
  .btn:hover {
    background: linear-gradient(#ff93e1, #a16be0);
    color: white; }

.card_fonction {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .card_fonction__number {
    padding: 5px 10px;
    border-radius: 500px;
    background: #9356DC;
    color: white;
    z-index: 2;
    position: absolute;
    margin: auto; }
  .card_fonction__body {
    width: 100%;
    background: #F6F6F6;
    padding: 20px 0;
    margin: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .card_fonction__body:hover {
      background: rgba(255, 121, 218, 0.1);
      box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2); }
    .card_fonction__body__logo {
      margin: 0 30px;
      color: #424242; }

.card_fonction_deck {
  width: 100%; }

.card {
  margin: 10px 20px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .card:hover {
    background: rgba(255, 121, 218, 0.1);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2); }
  .card__header {
    display: flex;
    justify-content: flex-end; }
    .card__header__image {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      z-index: 1; }
    .card__header__new {
      padding: 10px 20px;
      border-radius: 5px;
      background: #99E2D0;
      color: #278870;
      font-weight: bold;
      z-index: 2;
      position: absolute;
      margin: 20px; }
  .card__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%; }
    .card__container__text {
      width: 100%;
      margin: 10px 10px; }
      .card__container__text__title {
        width: 100%;
        margin: 0; }
      .card__container__text__position {
        width: 100%;
        margin: 5px 0; }
    .card__container__like .iconRed {
      display: none;
      font-size: 20px;
      padding: 0 20px;
      transition: color 1000ms, transform 1000ms;
      color: white;
      transform: scale(1); }
      .card__container__like .iconRed:hover {
        color: #9356DC;
        transform: scale(1.2); }
    .card__container__like .iconEmpty {
      font-size: 20px;
      padding: 0 20px; }
    .card__container__like:hover .iconRed {
      display: inline-block; }
    .card__container__like:hover .iconEmpty {
      display: none; }

.card-deck {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.card-menu {
  cursor: pointer;
  border-radius: 15px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  .card-menu:hover {
    background: rgba(255, 121, 218, 0.1);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2); }
    .card-menu:hover .card-menu__check {
      display: flex; }
    .card-menu:hover .card-menu__container__text__paragraphe {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 80%; }
    .card-menu:hover .card-menu__container {
      width: 80%; }
  .card-menu__container {
    width: 100%;
    padding: 10px 0; }
    .card-menu__container__title {
      padding: 5px 20px;
      margin: 0;
      font-size: 18px; }
    .card-menu__container__text {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center; }
      .card-menu__container__text__paragraphe {
        margin: 0; }
      .card-menu__container__text__price {
        margin: 0;
        font-weight: bold; }
  .card-menu__check {
    animation: check-background 400ms linear both;
    display: none;
    background: #99E2D0;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0; }
    .card-menu__check__icon {
      color: white;
      font-size: 20px;
      animation: check 400ms linear both; }

.localisation {
  text-align: center;
  width: 100%;
  background: #EAEAEA;
  margin: 0;
  padding: 20px 0;
  box-shadow: inset 0 5px 5px #c6c6c6;
  font-weight: bold;
  font-size: 18px;
  color: #424242; }
  .localisation__logo {
    padding-right: 20px; }

#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 19;
  animation: loading-bar-spinner 500ms linear both;
  animation-iteration-count: 2; }

#loading-bar-spinner.spinner .spinner-icon {
  width: 40px;
  height: 40px;
  border: solid 4px transparent;
  border-top-color: #9356DC;
  border-left-color: #9356DC;
  border-radius: 50%; }

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    opacity: 0;
    transform: rotate(360deg);
    display: none; } }
.main {
  animation: body 1s 1000ms both; }

@keyframes body {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; }
  .header__logo {
    padding: 10px 0;
    margin-top: 10px; }
    @media screen and (max-width: 767px) {
      .header__logo {
        width: 180px; } }

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .header-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%; } }
  .header-menu__arrow {
    padding: 0 20px;
    font-size: 20px;
    color: #424242; }
    @media screen and (max-width: 767px) {
      .header-menu__arrow {
        padding-left: 20px; } }
  .header-menu__lien-logo {
    width: 100%;
    text-align: center; }
  .header-menu__logo {
    padding: 10px;
    margin-top: 10px;
    margin-right: 30px;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .header-menu__logo {
        width: 180px; } }

.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
  padding: 30px 30px; }
  @media screen and (min-width: 993px) {
    .introduction {
      max-width: 1280px;
      margin-right: auto;
      margin-left: auto; } }
  .introduction__title {
    margin: 10px 20px;
    font-size: 25px 0;
    font-family: Roboto; }
  .introduction__text {
    margin: 0;
    font-size: 18px; }

.fonctionnement {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 993px) {
    .fonctionnement {
      max-width: 1280px;
      margin-right: auto;
      margin-left: auto; } }
  .fonctionnement__title {
    width: 100%;
    margin: 10px;
    font-family: Roboto; }

.restaurants {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6; }
  @media screen and (min-width: 993px) {
    .restaurants {
      max-width: 1280px;
      margin-right: auto;
      margin-left: auto; } }
  .restaurants__title {
    width: 100%;
    margin: 10px;
    font-family: Roboto; }

.main-menu {
  width: 100%; }
  @media screen and (min-width: 993px) {
    .main-menu {
      max-width: 1280px;
      margin-right: auto;
      margin-left: auto; } }
  .main-menu .bg-francais {
    background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 993px) {
      .main-menu .bg-francais {
        height: 500px; } }
  .main-menu .bg-enchantee {
    background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 993px) {
      .main-menu .bg-enchantee {
        height: 500px; } }
  .main-menu .bg-palette {
    background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 993px) {
      .main-menu .bg-palette {
        height: 500px; } }
  .main-menu .bg-delice {
    background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 993px) {
      .main-menu .bg-delice {
        height: 500px; } }
  .main-menu__plats {
    border-radius: 40px 40px 0 0;
    background-color: #F6F6F6;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 30px; }
    .main-menu__plats__title {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 100%; }
      .main-menu__plats__title__text {
        padding: 0 20px; }
      .main-menu__plats__title__like {
        padding: 0 20px; }
    .main-menu__plats__section {
      padding: 0 20px; }
      .main-menu__plats__section__title {
        border-bottom: 3px solid #99E2D0;
        text-transform: uppercase;
        color: #424242;
        font-weight: normal;
        width: 40px;
        padding-bottom: 5px; }
      .main-menu__plats__section__liste {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; }
    .main-menu__plats__button {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 30px 0; }

.btn-large {
  padding: 20px 60px; }

.footer {
  background: #424242;
  padding: 10px; }
  @media screen and (min-width: 993px) {
    .footer {
      padding-left: 400px; } }
  .footer__title {
    font-size: 18px;
    color: white; }
  .footer__menu__icone {
    margin-right: 10px; }
  .footer__menu__icone2 {
    margin-right: 4px; }
  .footer ul {
    list-style-type: none; }
    .footer ul li {
      padding: 5px 0; }
      .footer ul li a {
        color: white; }

body {
  font-family: Roboto;
  margin: 0; }

h2 {
  font-family: Shrikhand; }

a:visited {
  color: black; }

a:link {
  text-decoration: none;
  color: black; }

/*# sourceMappingURL=style.css.map */
