

.header-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  @include mobile-only{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: $width-total;
  }
  &__arrow{
    padding:0 map-get($space,medium) ;
    font-size: map_get($font-size,medium);
    color: map_get($background-grey,dark);
    @include mobile-only{
      padding-left:map-get($space,medium);
    }
  }
  &__lien-logo{
      width: $width-total;
      text-align: center;
  }
  &__logo {
    padding:map-get($space,little) ;
    margin-top: map-get($space,little);
    margin-right: map-get($space,large);
text-align: center;
    @include mobile-only{
      width: 180px;
    }
  }
}

