

.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: $width-total;
  &__logo {
padding: map-get($space,little) 0;
    margin-top:map-get($space,little) ;

    @include mobile-only{
        width: 180px;
    }
  }
}

