

.introduction{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: map-get($background-grey,light);
  padding:  map-get($space, large) map-get($space, large);
  @include desktop-only{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
  &__title{
    margin: map-get($space, little) map-get($space, medium);
    font-size: map-get($font-size, large) 0;
    font-family: $font-text;
  }
  &__text{
    margin:  0;
    font-size: map-get($font-size,little);
  }
}


.fonctionnement{
  padding:  map-get($space, large) map-get($space, medium);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include desktop-only{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
  &__title{
    width: $width-total;
    margin: map-get($space,little);
    font-family: $font-text;
  }
}


.restaurants{
  padding:  map-get($space, large) map-get($space, medium);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: map-get($background-grey,light);
  @include desktop-only{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
  &__title{
    width: $width-total;
    margin: map-get($space,little);
    font-family: $font-text;
  }
}