@mixin btn {
  color: white;
  background:  linear-gradient($colour-secondary , $colour-primary);
  border:$border-btn-outlined;
  border-radius: $btn-outline;
  box-shadow: $btn-shadow;
  font-size: map-get($font-size, little);
  padding: map-get($space, medium)  map-get($space, large) ;
  margin: map-get($space, medium);
  cursor: pointer;
  &:hover{
    background:linear-gradient(lighten($colour-secondary,5%) , lighten($colour-primary,5%));
    color: white;
  }

}

@mixin localisation{
  text-align: center;
  width: $width-total;
background:map-get($background-grey,medium) ;
  margin: 0;
  padding: map-get($space,medium) 0;
  box-shadow: inset 0 5px 5px #c6c6c6;
  font-weight: bold;
  font-size: map-get($font-size,little);
  color: map_get($background-grey,dark);
  &__logo{
    padding-right: map-get($space,medium);
  }
}

@mixin card_fonction{
  cursor: pointer;
  display: flex;
  flex-direction:row;
  align-items: center;
  &__number{
  padding: 5px map_get($space,little);
  border-radius: 500px;
  background:$colour-primary;
    color:white;
  z-index:2;
  position:absolute;
  margin:auto;
}
  &__body{
    width: $width-total;
    background: map-get($background-grey,light);
    padding: map-get($space,medium)  0;
    margin: map-get($space,little)  map-get($space,medium);
    border-radius: $card-outlined;
    font-weight: bold;
    box-shadow: $card-shadow;
    z-index:1;
    &:hover{
      background: transparentize($colour-secondary, 0.9);
      box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    }

    &__logo{
      margin:0  map-get($space,large);
      color: map-get($background-grey,dark);
    }
  }
}


@mixin card{
  margin:map-get($space,little) map-get($space,medium);
  width:$width-total;
  border-radius: $card-outlined;
  box-shadow: $card-shadow;
  &:hover{
    background: transparentize($colour-secondary, 0.9);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  }
  &__header{
    display: flex;
    justify-content: flex-end;
    &__image{
    width:$width-total;
    height: 160px;
    object-fit: cover;
    border-radius: $card-image-outlined;
    z-index: 1;
  }
    &__new{
      padding: map_get($space,little) map_get($space,medium);
      border-radius: 5px;
      background:$colour-tertiaire;
      color:darken($colour-tertiaire,40%);
      font-weight: bold;
      z-index:2;
      position:absolute;
      margin:map_get($space,medium) ;
    }
  }

  &__container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: $width-total;
    &__text{
      width: $width-total;
      margin:  map_get($space,little) map_get($space,little);
      &__title{
        width: $width-total;
        margin: 0;
      }
      &__position{
        width: $width-total;
        margin: 5px 0;
      }
    }
    &__like{
      .iconRed {
        display:none;
        font-size: map_get($font-size,medium);
        padding: 0 map_get($space,medium);
        transition: color 1000ms, transform 1000ms;
        color: white;
        transform: scale(1);
       &:hover{
          color:$colour-primary;
         transform: scale(1.2);
        }
      }
      .iconEmpty{
        font-size: map_get($font-size,medium);
        padding: 0 map_get($space,medium);
      }
      &:hover {
        .iconRed {
          display: inline-block;
        }
        .iconEmpty {
          display: none;
        }
      }
    }
  }
}
@mixin card-menu{
  cursor: pointer;
  border-radius: $card-outlined;
  background: white;
  box-shadow: $card-shadow;
  width: $width-total;
  margin: map_get($space,little) 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  &:hover{
    background: transparentize($colour-secondary, 0.9);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    .card-menu__check{
      display: flex;
    }

    .card-menu__container__title{
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 80%;
    }

.card-menu__container__text__paragraphe{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}
    .card-menu__container{
      width: 80%;
    }
  }
  &__container{
    width:$width-total;
    padding:map_get($space,little) 0;
    &__title{
      padding:5px map_get($space,medium);
      margin: 0;
      font-size: map_get($font-size,little);
    }
    &__text{
      padding:0 map_get($space,medium);
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      &__paragraphe{
        margin: 0;
      }
      &__price{
        margin: 0;
        font-weight: bold;
      }
  }
  }
    &__check{
      animation: check-background 400ms linear both;
      display: none;
      background: $colour-tertiaire;
      justify-content: center;
      align-items: center;
      border-radius: 0 $card-outlined $card-outlined 0;

      &__icon{
        color: white;
        font-size: map_get($font-size,medium);
        animation: check 400ms linear both;
      }
    }

}


.entrees{
  animation: aparition 1000ms 500ms both;
}
.plats{
  animation: aparition 1000ms 1000ms both;
}
.desserts{
  animation: aparition 1000ms 1500ms both;
}

@keyframes aparition {
  0% {
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
}

@keyframes check {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}
@keyframes check-background {
  0% {
    width:0;
  }
  100% {
    width: 70px;
  }
}





@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}


@mixin desktop-only{
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}